#calendar{
  grid-area: user;
  grid-column: 3;
  margin-top: 10em;
  margin-left: 20em;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  order:3;
}

.monthPre{
 color: white;
 text-align: center;
 font-size: 5px;
}
.monthNow{
 color: black;
 text-align: center;
  font-size: 1.3em;
}
.dayNow{
 border: 2px solid black;
 color: black;
 text-align: center;
}
.calendar td{
 width: 60px;
}
.monthNow th{
 background-color: white;
 color: #000000;
 text-align: center;
}

.dayNames{
 color: black;
 text-align: center;
}
