#calendar{
  margin-left: 800px;
  margin-bottom: 5em;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  order:2;
}

.monthPre{
 color: white;
 text-align: center;
 font-size: 5px;
}
.monthNow{
 color: black;
 text-align: center;
  font-size: 1.3em;
}
.dayNow{
 border: 2px solid black;
 color: black;
 text-align: center;
}
.calendar td{
 width: 60px;
}
.monthNow th{
 background-color: white;
 color: #000000;
 text-align: center;
}

.dayNames{
 color: black;
 text-align: center;
}

.deadline{
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  width: 75%;
  height: 2.3em;
  border: solid 1px gray;
  border-radius: 5px;
  color: #333;
  margin: 10px;
  padding-left: 10px;
  border: solid 1px gray;
  font-size: 12px;
  text-align: center
}
