.search_bar{
  width: 130px;
  margin-left: 70px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-size: 20px;
  background-image: url("../images/search.png");
  background-position: 10px 5px;
  background-repeat: no-repeat;
  padding: 10px 20px 0px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.search_bar:focus{
   width: 100%;
}


#buttons{
  display: flex;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 40px;
  color: white;
  border-radius: 0px 0px 5px 5px;
  background-color: white;
  display: flex;
  justify-content:space-between;
  order:2;
}

#buttons form{
  text-align:left;
  order: 1;
}

#buttons div{
  order: 2;
}

#buttons a img{

  width: 25px;
  margin-right: 20px;
  padding: 0 0.5em;
  text-decoration: none;
  font-size: 1.5em;
  color: #000000;
}

#buttons .NewTask{
    width: 3em;
}

@media screen and (max-width: 500px){
  #buttons {
    flex-direction: column-reverse;
  }
}

#buttons_MyCategory{
  text-align: right;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 40px;
  background-color: #FFFFFF;
  color: white;
  border-radius: 0px 0px 5px 5px;
  order: 1;
  background-color: white;

}

#buttons_MyCategory a img{
  width: 25px;
  margin-right: 20px;
  padding: 0 0.5em;
  text-decoration: none;
  font-size: 1.5em;
  color: #000000;
}

#categories {
  display: flex;
  text-decoration: none;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  opacity: 0.9;
  order:3;
  text-align: center;
  flex-direction: column;
}

#categories > *{
  flex: none;
}
#categories a{
  padding: 1em 1em 1em 1em;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  border: 1px ;
  text-decoration: none;
  font-size: 1.5em;
  color:white;
}
#categories a:first-child{
  background-color: #7cdbac;
}
#categories a:nth-child(2){
  background-color: #ef7d61;
}
#categories a:nth-child(3){
  background-color: #62c8f7;
}
#categories a:nth-child(4){
  background-color: #e36a76;
}
#categories a:nth-child(5){
  background-color: #f3cd56;
}
#categories a:nth-child(6){
background-color: #4e96b4;
}
#categories a img {
  width: 40px;
  height: 40px;
}


@media screen and (min-width: 480px) {
    #categories {
        flex-flow: column;
    }
}

#todolists{
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  margin-top: 50px;
  margin-bottom: 30em;
  order: 2;
}
#todolists a img:only-child{
  margin-left: 50px;
  width: 50px;
  height: 50px;
}
#todolists  li{
  display: block;
}
#todolists li a{
  text-decoration: none;
  color:black;
}

#todolists  li a img{
  width: 50px;
  height: 50px;
}


.col_half { width: 49%; }
.col_third { width: 32%; }
.col_fourth { width: 23.5%; }
.col_fifth { width: 18.4%; }
.col_sixth { width: 15%; }
.col_three_fourth { width: 74.5%;}
.col_twothird{ width: 66%;}
.col_half,
.col_third,
.col_twothird,
.col_fourth,
.col_three_fourth,
.col_fifth{
    position: relative;
    display:inline;
    display: inline-block;
    float: left;
    margin-bottom: 20px;
}
.end { margin-right: 0 !important; }

.wrapper{
  width: 980px;
  margin: 0 auto;
  background-color: #bdd3de;
  hoverflow: hidden;}

  .panel {
      margin: 0 auto;
      height: 130px;
      position: relative;
      -webkit-perspective: 600px;
      -moz-perspective: 600px;
  }

  .panel .front,
  .panel .back {
      text-align: center;
  }

  .panel .front {
      height: inherit;
      position: absolute;
      top: 0;
      z-index: 900;
      text-align: center;
      -webkit-transform: rotateX(0deg) rotateY(0deg);
         -moz-transform: rotateX(0deg) rotateY(0deg);
      -webkit-transform-style: preserve-3d;
         -moz-transform-style: preserve-3d;
      -webkit-backface-visibility: hidden;
         -moz-backface-visibility: hidden;
      -webkit-transition: all .4s ease-in-out;
         -moz-transition: all .4s ease-in-out;
          -ms-transition: all .4s ease-in-out;
           -o-transition: all .4s ease-in-out;
              transition: all .4s ease-in-out;
  }

  .panel .back {
      height: inherit;
      position: absolute;
      top: 0;
      z-index: 1000;
      -webkit-transform: rotateY(-180deg);
         -moz-transform: rotateY(-180deg);
      -webkit-transform-style: preserve-3d;
         -moz-transform-style: preserve-3d;
      -webkit-backface-visibility: hidden;
         -moz-backface-visibility: hidden;
      -webkit-transition: all .4s ease-in-out;
         -moz-transition: all .4s ease-in-out;
          -ms-transition: all .4s ease-in-out;
           -o-transition: all .4s ease-in-out;
              transition: all .4s ease-in-out;
  }
  .panel.flip .front {
      z-index: 900;
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
  }
  .panel.flip .back {
      z-index: 1000;
      -webkit-transform: rotateX(0deg) rotateY(0deg);
      -moz-transform: rotateX(0deg) rotateY(0deg);
  }
  .box1{
      background-color: white;
      width: 250px;
      height: 100px;
      margin: 0 auto;
      padding: 20px;
      border-radius: 10px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
  }
  .box2{
      background-color: white;
      width: 250px;
      height: 100px;
      margin: 0 auto;
      padding: 20px;
      border-radius: 10px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
  }


#user_info{
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  grid-column: 3;
  order:4;
  background: white;
  border-radius: 5px;
  border-left: 3em;
  padding: 1.5em 0em 1.5em 0em;
  text-align: center;
  width: 100%;
}

#user_info p:nth-child(2){
    font-size: 2.2em;
}

#user_info article img{
  border-radius: 50%;
  margin-top: 1em;
  margin-left: 1.8em;
  grid-column: 2;
  width: 10em;
  height: 10em;

}

#todo_search{
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  margin-left: 30px;
  margin-top: 50px;
  margin-right: 12em;
  margin-bottom: 20em;
  order: 2;
}

#all{
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  margin-left: 30px;
  margin-top: 50px;
  margin-right: 12em;
  margin-bottom: 20em;
  order: 2;
  background-color: #4e96b4;
}
#all h3{
  font-size: 2em;
}

#all p{
  font-size: 1.3em;
}

#to_do{
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  margin-left: 30px;
  margin-top: 50px;
  margin-right: 12em;
  margin-bottom: 2em;
  order: 2;
}
table {
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
}


table tr td {
  font-size: 1.2em;
}

table tr td img{
  width: 50px;
  height: 50px;
}

table tr td:nth-of-type(2n+2){
  font-size: 1.2em;
}
