#user  {
  padding: 3em 0em 0em 0em;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  font-size: 3em;
  height: 9em;
  order:2;
}

#user form {
  justify-content: space-around;
  padding: 20px 32px;
}

#user input {
  padding: 0.1em;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  width: 25em;
  height: 2em;
  font-size: 0.4em;
}

#user div input{
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  font-size: 0.35em;
  padding-bottom: 2px;
  padding-top: 2px;
  margin-top: 3px;
  vertical-align: middle;
  height: 30px;
  width: 100px;
  color: 		#000000;
  opacity:0.9;
  border-radius: 10px;

}
#register{
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  width: 10%;
  background-color: #FFFFFF;
  color: white;
  border-radius: 0px 0px 5px 5px;
  font-size: 1em;
  order: 1;
  width: 100%;
  text-align: right;
}

#register img{
  width: 25px;
  margin-right: 20px;
}

#register a  {
  text-decoration: none;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  font-size: 1.3em;
  color: black;
  line-height: 150%;
}
