.popup-register {
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  width:100%;
  height:100%;
  display:none;
  position:fixed;
  top:0px;
  left:0px;
  background:rgba(0,0,0,0.75);
}

.popup-register #submit {
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  font-size: 1.3em;
  padding-bottom: 2px;
  padding-top: 2px;
  margin-top: 2px;
  vertical-align: middle;
  height: 50px;
  width: 100px;
  color: 	#000000;
  opacity:0.9;
  border-radius: 10px;

}

.popup-inner-register {
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  width:45%;
  padding:60px;
  position:absolute;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%, -50%);
  transform:translate(-50%, -50%);
  box-shadow:0px 2px 6px rgba(0,0,0,1);
  border-radius:3px;
  background:#fff;
  text-align: center;

}


.popup-inner-register .inputField-register {
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
	width: 75%;
  height: 20%;
  margin-left: 1em;
	margin-bottom: 5px;
  font-size: 1.5em;
  border: solid 1px gray;
  text-align: center;
}

.popup-close-register {
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  width:50px;
  height:50px;
  padding-top:4px;
  display:inline-block;
  position:absolute;
  top:0px;
  right:0px;
  transition:ease 0.35s all;
  -webkit-transform:translate(50%, -50%);
  transform:translate(50%, -50%);
  border-radius:1000px;
  background:#4e96b4;
  font-size:10px;
  text-align:center;
  line-height:100%;
  color:#4e96b4;
}

.popup-close-register:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:#333;
}


.popup {
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  width:100%;
  height:100%;
  display:none;
  position:fixed;
  top:0px;
  left:0px;
  background:rgba(0,0,0,0.75);
}

.popup #submit {
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  font-size: 0.7em;
  padding-bottom: 2px;
  padding-top: 2px;
  margin-top: 3px;
  vertical-align: middle;
  height: 30px;
  width: 70px;
  color: 	#000000;
  opacity:0.9;
  border-radius: 10px;

}

.popup-inner {
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  width:30%;
  padding:40px;
  position:absolute;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%, -50%);
  transform:translate(-50%, -50%);
  box-shadow:0px 2px 6px rgba(0,0,0,1);
  border-radius:3px;
  background:#fff;
  text-align: left;

}

.popup-inner .inputField {
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
  font-size: 1em;
}

.popup-inner fieldset{
	width: 75%;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

.popup-close {
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  width:30px;
  height:30px;
  padding-top:4px;
  display:inline-block;
  position:absolute;
  top:0px;
  right:0px;
  transition:ease 0.35s all;
  -webkit-transform:translate(50%, -50%);
  transform:translate(50%, -50%);
  border-radius:1000px;
  background:#4e96b4;
  font-size:20px;
  text-align:center;
  line-height:100%;
  color:#4e96b4;
}

.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:#4e96b4;
}

.inputField {
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  margin: 10px;
  padding-left: 10px;
  border: solid 1px gray;
  font-size: 10px;
  text-align: center;
}


.NewTask{
  width: 50em;
  height: 50em;
}
.popup-addTask {
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  width:100%;
  height:100%;
  display:none;
  position:fixed;
  top:0px;
  left:0px;
  background:rgba(0,0,0,0.75);
}

.popup-addTask #submit {
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  font-size: 0.7em;
  padding-bottom: 2px;
  padding-top: 2px;
  margin-top: 3px;
  vertical-align: middle;
  height: 30px;
  width: 70px;
  color: 	#000000;
  opacity:0.9;
  border-radius: 10px;

}

.popup-inner-addTask {
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  width:30%;
  padding:40px;
  position:absolute;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%, -50%);
  transform:translate(-50%, -50%);
  box-shadow:0px 2px 6px rgba(0,0,0,1);
  border-radius:3px;
  background:#fff;
  text-align: left;

}

.popup-inner-addTask .inputField-addTask {
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  font-size: 1em;
}

.popup-inner-addTask fieldset{
	width: 75%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.popup-close-addTask {
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  width:30px;
  height:30px;
  padding-top:4px;
  display:inline-block;
  position:absolute;
  top:0px;
  right:0px;
  transition:ease 0.35s all;
  -webkit-transform:translate(50%, -50%);
  transform:translate(50%, -50%);
  border-radius:1000px;
  background:#4e96b4;
  font-size:10px;
  text-align:center;
  line-height:100%;
  color:#4e96b4;
}

.popup-close-addTask:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:#4e96b4;
}

.inputField-addTask {
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  margin: 10px;
  padding-left: 10px;
  border: solid 1px gray;
  font-size: 10px;
  text-align: center;
}
.dropdown {
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  color: #333;
  margin: 10px;
  width: 75%;
  height: 1.5em;
  padding-left: 10px;
  border: solid 1px gray;
  border-radius:5px;
  font-size: 10px;
  text-align: center;
}

.priority {
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  color: #333;
  height: 1.5em;
  margin: 10px;
  width: 75%;
  padding-left: 10px;
  border: solid 1px gray;
  border-radius:5px;
  font-size: 10px;
  text-align: center;
  background-color: white;

}
.delete_task{
  width: 50em;
  height: 50em;
}
.popup-deleteTask {
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  width:100%;
  height:100%;
  display:none;
  position:fixed;
  top:0px;
  left:0px;
  background:rgba(0,0,0,0.75);
}

.popup-deleteTask #submit {
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  padding-bottom: 2px;
  padding-top: 2px;
  margin-top: 2px;
  vertical-align: middle;
  height: 50px;
  width: 120px;
  color: 	#000000;
  opacity:0.9;
  border-radius: 10px;

}

.popup-inner-deleteTask {
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  width:30%;
  padding:60px;
  position:absolute;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%, -50%);
  transform:translate(-50%, -50%);
  box-shadow:0px 2px 6px rgba(0,0,0,1);
  border-radius:3px;
  background:#fff;

}

.popup-inner-deleteTask .inputField-deleteTask {
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
  font-size: 1.5em;
}

.popup-inner-deleteTask fieldset{
	width: 75%;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

.popup-close-deleteTask {
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  width:30px;
  height:30px;
  padding-top:4px;
  display:inline-block;
  position:absolute;
  top:0px;
  right:0px;
  transition:ease 0.35s all;
  -webkit-transform:translate(50%, -50%);
  transform:translate(50%, -50%);
  border-radius:1000px;
  background:#333;
  font-size:10px;
  text-align:center;
  line-height:100%;
  color:#333;
}

.popup-close-deleteTask:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:#333;
}

.inputField-deleteTask {
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  margin: 10px;
  padding-left: 10px;
  border: solid 1px gray;
  font-size: 20px;
  text-align: center;
}


.markTask{
  width: 50em;
  height: 50em;
}
.popup-markTask {
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  width:100%;
  height:100%;
  display:none;
  position:fixed;
  top:0px;
  left:0px;
  background:rgba(0,0,0,0.75);
}

.popup-markTask #submit {
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  padding-bottom: 2px;
  padding-top: 2px;
  margin-top: 2px;
  vertical-align: middle;
  height: 50px;
  width: 120px;
  color: 	#000000;
  opacity:0.9;
  border-radius: 10px;

}

.popup-inner-markTask {
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  width:30%;
  padding:60px;
  position:absolute;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%, -50%);
  transform:translate(-50%, -50%);
  box-shadow:0px 2px 6px rgba(0,0,0,1);
  border-radius:3px;
  background:#fff;

}

.popup-inner-markTask .inputField-markTask {
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
  font-size: 1.5em;
}

.popup-inner-markTask fieldset{
	width: 75%;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

.popup-close-markTask {
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  width:30px;
  height:30px;
  padding-top:4px;
  display:inline-block;
  position:absolute;
  top:0px;
  right:0px;
  transition:ease 0.35s all;
  -webkit-transform:translate(50%, -50%);
  transform:translate(50%, -50%);
  border-radius:1000px;
  background:#333;
  font-size:10px;
  text-align:center;
  line-height:100%;
  color:#333;
}

.popup-close-markTask:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:#333;
}

.inputField-markTask {
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  margin: 10px;
  padding-left: 10px;
  border: solid 1px gray;
  font-size: 20px;
  text-align: center;
}
