body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  background-color: #4e96b4;
}

header{
  justify-content: space-between;
  display: flex;
  flex: 0 0 0;
  flex-grow: 0;
  order:1;
  background-color: white;
}

body > header {
  display: flex;
  justify-content: space-between;
  height: 100%
  background-color: inherit;
  flex: 1 100%;
}

#info {
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 10em;
}

#info a {
  text-decoration: none;
  color: black;
  width: 100%; /*largura*/
}

#info > a {
  padding: 0 1em;
  font-size: 1.5em;
  align-self: flex-end;
}


#info h1 {
  font-size: 1.5em;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  margin: 3em;

}

footer {
  display: flex;
  width:100%;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  background-color: #333;
  color: white;
  height: 55px;
  text-align:justify;
  order: 5;
}

#messages  {
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #D8000C;
  background-color: #FFBABA;
}
