#todolistid{
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  font-size: 1.3em;
  padding-bottom: 2px;
  padding-top: 2px;
  margin-top: 2px;
  color: 	#000000;
  opacity:0.9;
  border-radius: 10px;
}
#todo_s{
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  margin-top: 50px;
  margin-bottom: 20em;
  margin-left: 50px;
  font-size: 1.2em;
  order:2;
}

#todo_sform{

}

#CompleteTasks{
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  font-size: 0.6em;
  padding-bottom: 2px;
  padding-top: 2px;
  margin-top: 10px;
  color: 	#000000;
  opacity:0.9;
  border-radius: 10px;
}


#DeleteTasks{
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  font-size: 0.6em;
  padding-bottom: 2px;
  padding-top: 2px;
  margin-top: 10px;
  color: 	#000000;
  opacity:0.9;
  border-radius: 10px;
}

#box{
  padding-bottom: 2px;
  padding-top: 2px;
  margin-top: 10px;
  color: 	#000000;
  opacity:0.9;
  border-radius: 10px;
}
